---
layout: base.njk
---

<!-- Page Header -->
{% include "partials/page-header.njk" %}

<section class="[ portfolio-section ]">
  <!-- Projects list -->
  <div class="projects-container wrapper flow">
    {% set projectlist = collections["projects_" + page.lang] %} {% for project in
    projectlist %}
    <article class="project card">
      <div class="project__img">
        {% if project.data.image %} {% image project.data.image, "object-fit-cover" ,
        "object-fit-cover", project.data.alt, "lazy", "(min-width: 1600px) 50vw, 100vw" %}
        {% endif %}
      </div>    
      <div class="project__info">
        <!-- <span class="pill">{{ project.data.type }}</span> -->
        <h3>{{ project.data.title }}</h3>
        <ul class="project__detail" role="list">
          {% for item in project.data.technologies %}
          <li><span class="tag">{{ item }}</span></li>
          {% endfor %}
        </ul>
        <p>{{ project.data.lead | safe }}</p>
        <a
          class="button"
          href="{{ project.data.clientURL }}"
          >{{ project.data.clientURL | replace("https://www.", "") }}</a
        >
      </div>
    </article>
    {% endfor %}
  </div>
</section>

<!-- Contact section -->
{% include "partials/contact-cta.njk" %}