<section class="[ contact-card ]">
  <div class="wrapper">
    <article class="contact-home__text card flow">
      <h2>{{ contact.title }}</h2>
      <p>{{ contact.summary }}</p>
      <a class="button primary" href="{{ contact.link }}">{{ contact.button }}</a>
    </article>
  </div>
</section>