<header class="page-header">
  <div class="wrapper">
    <div class="page-header__inner">
      <article class="page-header__text">
        <h1 >{{ title }}</h1>
        <p>{{ lead }}</p>
      </article>
    </div>
  </div>
</header>